# CMake
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Ejecutables y binarios
*.exe
*.dll
*.so
*.dylib
*.a

# ImGui
imgui.ini

# IDEs
.vscode/
.vs/
*.suo
*.user
*.cbp

informe.tex